@model NewLibWebApp.Models.BookInventoryViewModel
@using NewLibWebApp.Models
@{
    ViewBag.Title = "ViewBookDetails";
}

<h2>Check in</h2>

@using (Html.BeginForm("CheckIn", "BookInventory", FormMethod.Post))
{
    @foreach (BookInventory Book in Model.AllBooks)
    {
        <div>
            @Html.DisplayFor(m => Book.ID)

        </div>

        <div>
            @Html.DisplayFor(m => Book.UserId)

        </div>

        <div>
            Catagory: @Html.DisplayFor(m => Book.BookId)

        </div>
        <div>
            Catagory: @Html.DisplayFor(m => Book.CheckedIn)

        </div>
        <div>Description: @Html.DisplayFor(m => Book.checkInTime)</div>
        <div>Description: @Html.DisplayFor(m => Book.checkOutTime)</div>
        @if (Book.CheckedIn == false)
        {
            <input type="Submit" value="Check Out" />
        }
        else
        {
            <input type="Submit" disabled value="Check Out" />

        }

    }
}

