@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Libary App </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

</head>
<body>

    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    @Html.ActionLink("The Libary App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    @if (Context.Session.GetString("Username") == null)
                    {

                        @Html.ActionLink("Register", "Register", "User", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Login", "Login", "User", new { area = "" }, new { @class = "navbar-brand" })
                    }
                    @if (Context.Session.GetString("Username") != null)
                        {
                    @Html.ActionLink("Sign Out", "SignOut", "Home", new { area = "" }, new { @class = "navbar-brand navbar-right" })
                    }
                    <form asp-controller="Book" asp-action="Search" class="form-inline my-2 my-lg-0">
                        <input class="form-control text-light bg-secondary border-secondary mr-sm-2" type="text" id="expr" name="expr" aria-label="Search">
                        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size:20px">
                                        Options
                                        <span class="caret"></span>
                                    </a>

                                    <ul class="dropdown-menu">

                                       <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="ViewBooks">View Books</a>
                                       @if (Context.Session.GetString("Username") != null)
                            {
                                @if (Context.Session.GetInt32("RoleId") >= 3)
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="ViewUsers">View Users</a>

                                    <a class="nav-link text-dark" asp-area="" asp-controller="BookInventory" asp-action="ViewBooksInventory">Book Inventory</a>
                                }
                                @Html.ActionLink("View Inventory", "ViewUserBookInventory", "BookInventory", routeValues: new { id =Context.Session.GetInt32("Id") })
                            }
                        </ul>
                                </div>
                         

                </div>


            </div>
        </div>

 
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - NewLibWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
